# virtual enviroments
venv/
.venv/

# system
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# secrets
.env
*.env

# table
tests/for_test_consult.xlsx
tests/for_test_goodbye.xlsx